<hr>
<footer class="d-flex justify-content-center align-items-center" style="height: 30px;">
    <div class="text-secondary">
        <small>Copyright 2024. Today's BASEBALL All rights Reserved.</small>
    </div>
</footer>
</div>
</body>
</html>