{{>layouts/loginHeader}}
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-main" role="tabpanel" aria-labelledby="nav-main-tab">main
            <div class="bg-success" id="mainContent" style="height: 700px;"> </div>
        </div>
        <div class="tab-pane fade" id="nav-writeReview" role="tabpanel" aria-labelledby="nav-writeReview-tab">writeReview
            <div class="bg-info" id="writeReviewContent" style="height: 700px;"> </div>
        </div>
        <div class="tab-pane fade" id="nav-getReview" role="tabpanel" aria-labelledby="nav-getReview-tab">getReview
            <div class="bg-dark" id="getReviewContent" style="height: 700px;"> </div>
        </div>
        <div class="tab-pane fade" id="nav-diary" role="tabpanel" aria-labelledby="nav-diary-tab">diary
            <div class="bg-danger" id="diaryContent" style="height: 700px;"> </div>
        </div>
        <div class="tab-pane fade" id="nav-userInfo" role="tabpanel" aria-labelledby="nav-userInfo-tab">userInfo
            <div class="bg-warning" id="userInfoContent" style="height: 700px;"> </div>
        </div>
        <div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">password
            <div class="bg-white" id="passwordContent" style="height: 700px;"> </div>
        </div>
        <div class="tab-pane fade" id="nav-changeTeam" role="tabpanel" aria-labelledby="nav-changeTeam-tab">changeTeam
            <div class="bg-secondary" id="passwordContent" style="height: 700px;"> </div>
        </div>
    </div>
{{>layouts/loginFooter}}