{{>layouts/header}}
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-main" role="tabpanel" aria-labelledby="nav-main-tab">main
                <div class="bg-success" id="mainContent" style="height: 700px;"> </div>
            </div>

            <div class="tab-pane fade" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">login</div>


            <div class="tab-pane fade" id="nav-signUp" role="tabpanel" aria-labelledby="nav-signUp-tab">

                <section class="contents d-flex justify-content-center" style="height: 700px;">
                    <div class="sign-up-box" style="width: 400px;">
                        <h2 class="font-weight-bold text-center" style="margin-top: 10px;">회원가입</h2>

                        <div class="subject-text my-2">아이디</div>
                        <div class="d-flex">
                            <input type="text" id="loginId" name="loginId" class="form-control col-9" placeholder="ID를 입력하세요">
                            <button type="button" id="loginIdCheckBtn" class="btn btn-success ml-2">중복확인</button>
                        </div>



                        <div class="subject-text my-2">비밀번호</div>
                        <input type="password" id="password" class="form-control" placeholder="패스워드를 입력하세요">

                        <div class="subject-text my-2">비밀번호 확인</div>
                        <input type="password" id="confirmPassword" class="form-control" placeholder="패스워드를 다시 한 번 입력하세요">

                        <div class="subject-text my-2">닉네임</div>
                        <div class="d-flex">
                            <input type="text" id="nickname" name="nickname" class="form-control col-9" placeholder="닉네임을 입력하세요">
                            <button type="button" id="nicknameCheckBtn" class="btn btn-success ml-2">중복확인</button>
                        </div>

                        <!-- 닉네임 중복 체크 결과 -->
                        <div class="mb-3">
                            <div id="nicknameCheckLength" class="small text-danger d-none">닉네임을 5자 이상 입력해주세요</div>
                            <div id="nicknameCheckDuplicated" class="small text-danger d-none">이미 사용중인 닉네임입니다</div>
                            <div id="nicknameCheckOk" class="small text-success d-none">사용 가능한 닉네임입니다</div>
                        </div>

                        <div class="subject-text my-2">이메일</div>
                        <div class="d-flex align-items-center">
                            <input type="text" id="email" class="form-control">
                            <span>@</span>

                            <input type="text" id="emailDomainInput" class="form-control d-none">

                            <select id="emailDomainSelect" class="form-control">
                                <option>naver.com</option>
                                <option>google.com</option>
                                <option>nate.com</option>
                                <option>직접 입력</option>
                            </select>
                        </div>

                        <br>
                        <div class="d-flex justify-content-center m-3">
                            <button type="submit" id="signUpBtn" class="btn btn-success" style="width: 100px;">가입하기</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>


{{>layouts/footer}}

