{{>layouts/header}}
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-main-tab" data-toggle="tab" data-target="#nav-main" type="button" role="tab" aria-controls="nav-main" aria-selected="true">Main</button>
                <button class="nav-link" id="nav-login-tab" data-toggle="tab" data-target="#nav-login" type="button" role="tab" aria-controls="nav-login" aria-selected="false">로그인</button>
                <button class="nav-link" id="nav-signUp-tab" data-toggle="tab" data-target="#nav-signUp" type="button" role="tab" aria-controls="nav-signUp" aria-selected="false">회원가입</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-main" role="tabpanel" aria-labelledby="nav-main-tab">main</div>
            <div class="tab-pane fade" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">login</div>
            <div class="tab-pane fade" id="nav-signUp" role="tabpanel" aria-labelledby="nav-signUp-tab">signUp</div>
        </div>
        <div class="bg-success" id="content" style="height: 720px">
        </div>
        <div class="bg-info" style="height: 30px; border-top: black">
        </div>
{{>layouts/footer}}

