{{>layouts/loginHeader}}
<title>Today's BASEBALL</title>
<style>
    .container {
        /*width: 1000px;*/
        /*height: 600px;*/
        /*margin: auto;*/
        /*border: 1px solid #ddd;*/
        /*padding: 20px;*/
        /*box-sizing: border-box;*/
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid black;
        padding-bottom: 10px;
    }
    .line-up, .game {
        width: 48%;
        display: inline-block;
        vertical-align: top;
    }

    .game {

    }

    .line-up table, .game table {
        width: 100%;
        border-collapse: collapse;
    }
    .line-up th, .line-up td, .game th, .game td {
        border: 1px solid black;
        text-align: center;
        padding: 5px;
    }
    .game .score-input {
        width: 50px;
        text-align: center;
    }
    .mvp {
        margin-top: 10px;
    }
    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-top: 2px solid black;
        padding-top: 10px;
    }
</style>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="mt-3">
            <h3>Today's</h3>
            <h3>BASEBALL</h3>
        </div>
        <div>
            DATE: {{date}}
        </div>
    </div>

    <div class="content">
        <div class="line-up mt-3">
            <h4>LINE-UP</h4>
            <table>
                <thead>
                <tr>
                    <th>Position</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {{#lineUp}}
                    <tr>
                        <td><input type="text" name="lineUpPosition" value="{{position}}"></td>
                        <td><input type="text" name="lineUpName" value="{{name}}"></td>
                    </tr>
                {{/lineUp}}
                {{^lineUp}}
                    <tr>
                        <td><input type="text" class="form-control" name="lineUpPosition"></td>
                        <td><input type="text" class="form-control" name="lineUpName"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="lineUpPosition"></td>
                        <td><input type="text" name="lineUpName"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="lineUpPosition"></td>
                        <td><input type="text" name="lineUpName"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="lineUpPosition"></td>
                        <td><input type="text" name="lineUpName"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="lineUpPosition"></td>
                        <td><input type="text" name="lineUpName"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="lineUpPosition"></td>
                        <td><input type="text" name="lineUpName"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="lineUpPosition"></td>
                        <td><input type="text" name="lineUpName"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="lineUpPosition"></td>
                        <td><input type="text" name="lineUpName"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="lineUpPosition"></td>
                        <td><input type="text" name="lineUpName"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="lineUpPosition"></td>
                        <td><input type="text" name="lineUpName"></td>
                    </tr>
                {{/lineUp}}
                </tbody>
            </table>
        </div>

        <div class="game mt-3 ml-3">

            <div class="mt-5 mb-5">
                <h4>Baseball Stadium</h4>
<!--                <label for="stadium">Baseball Stadium</label>-->
                <select class="form-select" id="stadium" name="stadium">
                    <option value="대구삼성라이온즈파크">대구삼성라이온즈파크</option>
                    <option value="잠실야구장">잠실야구장</option>
                    <option value="고척스카이돔">고척스카이돔</option>
                    <option value="수원KT위즈파크">수원KT위즈파크</option>
                    <option value="인천SSG랜더스필드">인천SSG랜더스필드</option>
                    <option value="한화생명이글스파크">한화생명이글스파크</option>
                    <option value="광주기아챔피언스필드">광주기아챔피언스필드</option>
                    <option value="사직야구장">사직야구장</option>
                    <option value="창원NC파크">창원NC파크</option>
                </select>
            </div>

            <h4>GAME</h4>
            <table>
                <tr>
                    <th>HOME</th>
                    <th>SCORE</th>
                    <th>AWAY</th>
                </tr>
                <tr>
                    <td>
                        <select class="form-select" id="homeTeam" name="homeTeam">
                            <option value="삼성라이온즈">삼성라이온즈</option>
                            <option value="롯데자이언츠">롯데자이언츠</option>
                            <option value="기아타이거즈">기아타이거즈</option>
                            <option value="LG트윈스">LG트윈스</option>
                            <option value="키움히어로즈">키움히어로즈</option>
                            <option value="두산베어스">두산베어스</option>
                            <option value="NC다이노스">NC다이노스</option>
                            <option value="SSG랜더스">SSG랜더스</option>
                            <option value="한화이글스">한화이글스</option>
                            <option value="KT위즈">KT위즈</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="score-input" id="homeScore" name="homeScore">
                        vs
                        <input type="text" class="score-input" id="awayScore" name="awayScore">
                    </td>
                    <td>
                        <select class="form-select" id="awayTeam" name="awayTeam">
                            <option value="삼성라이온즈">삼성라이온즈</option>
                            <option value="롯데자이언츠">롯데자이언츠</option>
                            <option value="기아타이거즈">기아타이거즈</option>
                            <option value="LG트윈스">LG트윈스</option>
                            <option value="키움히어로즈">키움히어로즈</option>
                            <option value="두산베어스">두산베어스</option>
                            <option value="NC다이노스">NC다이노스</option>
                            <option value="SSG랜더스">SSG랜더스</option>
                            <option value="한화이글스">한화이글스</option>
                            <option value="KT위즈">KT위즈</option>
                        </select>
                    </td>
                </tr>
            </table>


            <div class="mvp mt-5">
                <h4>MY MVP</h4>
<!--                <label for="mvp">MY MVP</label>-->
                <input type="text" id="mvp" name="mvp">
            </div>
        </div>
    </div>

    <div class="footer mt-3">
        <button type="button" class="btn btn-info" ">작성완료</button>
    </div>
</div>


{{>layouts/loginFooter}}