{{>layouts/header}}
<div class="container">
    <div class="login-box d-flex justify-content-center" style="height: 700px;">
        <div style="width: 400px;">
            <h1 class="mt-4 font-weight-bold text-center">로그인</h1>

            <form id="loginForm" method="post" action="/api/login">
                <div class="mt-3">
                    <label for="loginId" class="form-label">아이디</label>
                    <input type="text" id="loginId" name="loginId" class="form-control" placeholder="아이디를 입력하세요">
                </div>

                <div class="mt-3">
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요">
                </div>

                <!-- btn-block: 로그인 박스 영역에 버튼을 가득 채운다. -->
                <input type="submit" id="loginBtn" class="btn btn-block btn-primary mt-4" value="로그인">

            </form>

            <div class="d-flex justify-content-center mt-3">
                <a href="/find-id" class="me-2 mr-2">아이디찾기</a> |
                <a href="/find-password" class="ms-2 ml-2">비밀번호찾기</a>
            </div>

            <div class="d-flex justify-content-center mt-5">
                <button type="button" class="btn btn-secondary col-8" onclick="location.href='/api/login/kakao'"
                        style="height: 45px; background-color: #FBE300; border: 2px solid white;">카카오계정으로 로그인</button>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <button type="button" class="btn btn-secondary col-8" onclick="location.href='/api/login/naver'"
                        style="height: 45px; background-color: #2DB400; border: 2px solid white;">네이버계정으로 로그인</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        //login
        $("form").on('submit', function(e) {
            e.preventDefault();

            // alert("login");

            let loginId = $("#loginId").val().trim();
            let password = $("#password").val();

            if (!loginId) {
                alert("아이디를 입력하세요");
                return false;
            }

            if (!password) {
                alert("비밀번호를 입력하세요");
                return false;
            }

            let url = $(this).attr('action');
            let params = JSON.stringify({ loginId: loginId, password: password });

            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: params,
                success: function(data) {
                    if (data === "Login successful") {
                        // 로그인 성공 시 로그인-메인화면으로 이동
                        location.href = "/main";
                    } else {
                        alert("로그인 중 오류 발생: " + data);
                    }
                },
                error: function(xhr) {
                    alert("로그인 중 오류 발생: " + xhr.responseText);
                }
            });

        });
    });

</script>
{{>layouts/footer}}