{{>layouts/header}}
<div class="container">
    <div class="sign-up-box d-flex align-items-center justify-content-center" style="height: 800px;">
        <div style="width: 400px;">
            <h1 class="mt-3 font-weight-bold text-center">회원가입</h1>


            <form id="signUpForm" method="post" action="/api/signUp">
                <span class="sign-up-subject">아이디</span>
                <div class="d-flex mt-2">
                    <input type="text" id="loginId" name="loginId" class="form-control col-9" placeholder="ID를 입력해주세요">
                    <button type="button" id="loginIdCheckBtn" class="btn btn-success ml-2">중복확인</button>
                </div>

                <!-- 아이디 체크 결과 -->
                <div class="mb-3">
                    <div id="idCheckLength" class="small text-danger d-none">ID를 7자 이상 입력해주세요.</div>
                    <div id="idCheckDuplicated" class="small text-danger d-none">이미 사용중인 ID입니다.</div>
                    <div id="idCheckOk" class="small text-success d-none">사용 가능한 ID 입니다.</div>
                </div>

                <span class="sign-up-subject">비밀번호</span>
                <div class="mt-2 mb-3">
                    <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호를 입력하세요">
                </div>

                <span class="sign-up-subject">비밀번호 확인</span>
                <div class="mt-2 mb-3">
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="비밀번호를 다시한 번 입력하세요">
                </div>

                <span class="sign-up-subject">이름</span>
                <div class="mt-2 mb-3">
                    <input type="text" id="name" name="name" class="form-control" placeholder="이름을 입력하세요">
                </div>

                <span class="sign-up-subject">닉네임</span>
                <div class="d-flex mt-3">
                    <input type="text" id="nickname" name="nickname" class="form-control col-9" placeholder="닉네임을 입력하세요">
                    <button type="button" id="nicknameCheckBtn" class="btn btn-success ml-2">중복확인</button>
                </div>

                <!-- 닉네임 체크 결과 -->
                <div class="mb-3">
                    <div id="nicknameCheckLength" class="small text-danger d-none">닉네임을 3자 이상 입력해주세요.</div>
                    <div id="nicknameCheckDuplicated" class="small text-danger d-none">이미 사용중인 닉네임입니다.</div>
                    <div id="nicknameCheckOk" class="small text-success d-none">사용 가능한 닉네임 입니다.</div>
                </div>

                <span class="sign-up-subject">이메일</span>
                <div class="mt-2 mb-3">
                    <input type="text" id="email" name="email" class="form-control" placeholder="이메일을 입력하세요">
                </div>

                <span class="sign-up-subject">응원팀</span>
                <div class="mt-2">
                    <select id="myTeam" name="myTeam" class="form-control">
                        <option value="삼성라이온즈">삼성라이온즈</option>
                        <option value="기아타이거즈">기아타이거즈</option>
                        <option value="두산베어스">두산베어스</option>
                        <option value="엘지트윈스">엘지트윈스</option>
                        <option value="키움히어로즈">키움히어로즈</option>
                        <option value="KT위즈">KT위즈</option>
                        <option value="SSG랜더스">SSG랜더스</option>
                        <option value="한화이글스">한화이글스</option>
                        <option value="롯데자이언츠">롯데자이언츠</option>
                        <option value="NC다이노스">NC다이노스</option>
                    </select>
                </div>

                <br>
                <div class="d-flex justify-content-center">
                    <button type="submit" id="signUpBtn" class="btn btn-info">가입하기</button>
                </div>
            </form>
        </div>
    </div>

</div>

<script>
    $(document).ready(function() {
        // 아이디 중복확인
        $("#loginIdCheckBtn").on('click', function() {
            // alert("11");
            // 경고 문구 초  기화
            $("#idCheckLength").addClass("d-none");
            $("#idCheckDuplicated").addClass("d-none");
            $("#idCheckOk").addClass("d-none");

            let loginId = $("#loginId").val().trim();
            if (loginId.length < 7) {
                $("#idCheckLength").removeClass("d-none");
                return;
            }

            // AJAX - 중복확인
            $.ajax({
               url: '/api/signUp/isDuplicatedId', //서버쪽 url
               type: 'POST',
               contentType: 'application/json',
               data: JSON.stringify({ loginId: loginId }),
               success: function(data) {
                   if (data === true) {
                       $("#idCheckDuplicated").removeClass("d-none");
                       $("#idCheckOk").addClass("d-none");
                   } else {
                       $("#idCheckOk").removeClass("d-none");
                       $("#idCheckDuplicated").addClass("d-none");
                   }
               },
                error: function() {
                    alert('Error occurred while checking ID.');
                }
            });
        });

        // 닉네임 중복확인
        $("#nicknameCheckBtn").on('click', function() {
            // alert("test");
            // 경고 문구 초기화
            $("#nicknameCheckLength").addClass("d-none");
            $("#nicknameCheckDuplicated").addClass("d-none");
            $("#nicknameCheckOk").addClass("d-none");

            let nickname = $("#nickname").val().trim();
            if (nickname.length < 3) {
                $("#nicknameCheckLength").removeClass("d-none");
                return;
            }

            // AJAX - 중복확인
            $.ajax({
                url: '/api/signUp/isDuplicatedNickname',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ nickname: nickname }),
                success: function(data) {
                    if (data === true) {
                        $("#nicknameCheckDuplicated").removeClass("d-none");
                        $("#nicknameCheckOk").addClass("d-none");
                    } else {
                        $("#nicknameCheckOk").removeClass("d-none");
                        $("#nicknameCheckDuplicated").addClass("d-none");
                    }
                },
                error: function() {
                    alert('Error occurred while checking nickname.');
                }
            });
        });

        // 회원가입
        $("#signUpForm").on('submit', function(e) {
            e.preventDefault(); // submit 기능 멈춤

            // alert("회원가입");

            // validation
            let loginId = $("#loginId").val().trim();
            let password = $("#password").val();
            let confirmPassword = $("#confirmPassword").val();
            let name = $("#name").val().trim();
            let nickname = $("#nickname").val().trim();
            let email = $("#email").val().trim();
            let myTeam = $("#myTeam").val();

            if (!loginId) {
                alert("아이디를 입력하세요");
                return false;
            }

            if (!password || !confirmPassword) {
                alert("비밀번호를 입력하세요");
                return false;
            }

            if (password !== confirmPassword) {
                alert("비밀번호가 일치하지 않습니다.");
                return false;
            }

            if (!name) {
                alert("이름을 입력하세요");
                return false;
            }

            if (!nickname) {
                alert("닉네임을 입력하세요.");
                return false;
            }

            if (!email) {
                alert("이메일을 입력하세요.");
                return false;
            }

            if (!myTeam) {
                alert("응원팀을 선택해주세요.")
            }

            // 중복확인 후 사용 가능한 아이디인지
            // 잘못: idCheckOk에 d-none이 있을 때
            if ($("#idCheckOk").hasClass("d-none")) {
                alert("아이디 중복확인을 해주세요.");
                return false;
            }
            if ($("#nicknameCheckOk").hasClass("d-none")) {
                alert("닉네임 중복확인을 해주세요.");
                return false;
            }

            let formData = {
                loginId: loginId,
                password: password,
                name: name,
                nickname: nickname,
                email: email,
                myTeam: myTeam
            };

            $.ajax({
                url: $(this).attr("action"),
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function(data) {
                    alert("가입을 환영합니다. 로그인 해주세요.");
                    window.location.href = "/login"; // 로그인 화면 이동
                },
                error: function(xhr) {
                    alert('회원가입 중 오류가 발생했습니다: ' + xhr.responseText);
                }
            });
        });
    });
</script>
{{>layouts/footer}}