{{>layouts/loginHeader}}

<div class="outfit">
    <div class="mt-4">
        <h3>야구장 리뷰 작성</h3>
    </div>
    <div class="d-flex mt-3">
       <div style="padding-right: 400px;">
           <select class="form-select" id="stadium" name="stadium">
               <option disabled selected>야구장을 선택하세요</option>
               <option value="대구삼성라이온즈파크">대구삼성라이온즈파크</option>
               <option value="잠실야구장">잠실야구장</option>
               <option value="고척스카이돔">고척스카이돔</option>
               <option value="수원KT위즈파크">수원KT위즈파크</option>
               <option value="인천SSG랜더스필드">인천SSG랜더스필드</option>
               <option value="한화생명이글스파크">한화생명이글스파크</option>
               <option value="광주기아챔피언스필드">광주기아챔피언스필드</option>
               <option value="사직야구장">사직야구장</option>
               <option value="창원NC파크">창원NC파크</option>
           </select>
       </div>
        <div class="d-flex">
            <label for="visitedAt" class="ml-3 mr-2">방문날짜</label>
            <input type="text" placeholder="202X-XX-XX" class="form-control" style="height: 30px; width: 150px;" name="vistedAt" id="visitedAt">
        </div>
    </div>
    <div class="title-box">
        <input type="text" id="title" name="title" class="title-input" style="" placeholder="제목을 입력하세요" >
    </div>
    <div class="content-box">
        <textarea type="text" id="content" class="content-input" style="" placeholder="내용을 입력하세요"></textarea>
    </div>
    <form class="mt-3">
        <input type="file" accept="image/*" multiple required capture='user' onchange='aaa'/>
    </form>
    <div class="button-box">
        <button class="btn btn-warning mt-3">작성취소</button>
        <button class="btn btn-success mt-3 ml-3">저장하기</button>
    </div>
</div>

<style>
    .outfit {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .title-input {
        width: 800px;
        height: 50px;
        /*border: 1px solid black;*/
        margin-top: 20px;
        padding: 10px;
    }

    .content-input {
        width: 800px;
        height: 400px;
        /*border: 1px solid black;*/
        margin-top: 20px;
        padding: 10px;
        overflow: auto;
    }


</style>


{{>layouts/loginfooter}}